
<div class="row">
  <div class="col-md-2 text-center">
    <div class="well">
      <h2>{{model.name}}</h2>
      <img src="{{model.url}}" width="100" height="100" class="img-circle">
    </div>
  </div>

  <div class="col-md-8">
    <ul class="nav nav-pills">
      {{#link-to "avatar.all" tagName="li"}}<a href>All</a>{{/link-to}}
      {{#link-to "avatar.filtered" tagName="li"}}<a href>Filtered</a>{{/link-to}}
    </ul>

    {{outlet}}
  </div>
</div>

<div class="navbar navbar-default navbar-fixed-bottom message-bar">
  <div class="container">
    <form class="form-horizontal">
      <div class="form-group">
        <div class="col-xs-10">
          {{input class='form-control input-lg input-block' placeholder='Your message' value=textMessageFromInput}}
        </div>
        <div class="col-xs-2">
          <button type="submit" class="btn btn-primary btn-lg" {{action 'createMessage' textMessageFromInput model}}>Send</button>
        </div>
      </div>
    </form>
  </div>
</div>